.Column_1 {
  text-align: left;
  background: #bfbfbf;
  border-radius: 0.8rem;
  margin: 50px;
  padding: 1rem 0.5rem;
  color: #660066;
  text-transform: uppercase;
}

.Column_2 {
  background: #bfbfbf;
  border-radius: 0.8rem;
  margin: 50px;
  padding: 1rem 0.5rem;
  color: #660066;
  text-transform: uppercase;
}

/* .Column_3 {
  text-align: left;
  background: #bfbfbf;
  border-radius: 0.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 1rem 0.5rem;
  color: #660066;
  text-transform: uppercase;
} */
